/.vscode
/BiTonic.java
/BoundaryTraversal.java
/BST.java
/BST1.java
/Celeb.java
/GCD.java
/LevelOrderTrav.java
/Main.java
/main1.java
/Main2.java
/MergeSort1.java
/MinStack.java
/Practice
/PriorityQueue.java
/SeparateEvenAndOdd.java
/SortQ.java
/StackLL.java
/StackPer.java
/STS cat 1 codes.docx
/STS4006 Practice Questions.docx
/TowerOfHanoi.java
/VerticalTrav.java
/VertOrderTraversal.java
/ViewsOfTree.java